:root{

    /* bg */
    --bg-primary-color:rgb(17,17,17);
    --bg-secondary-color:rgb(100, 95, 95);
    --bg-active-color:rgb(148, 144, 144);
    --bg-danger-color:red;
    --bg-success-color:green;


    /* text-colors */

    --text-primary-color:rgb(254, 254, 254);
    --text-secondary-color:rgb(249, 223, 223);
    --text-tertiary-color:rgb(91, 88, 88);

    /* paddings */
    --padding-sm:0.5rem;
    --padding-md:1rem;
    --padding-lg:1.5rem;
    --padding-xl:2rem;
    --padding-2xl:3rem;

    /* margin */

    --margin-sm:0.5rem;
    --margin-md:1rem;
    --margin-lg:1.5rem;
    --margin-xl:2rem;
    --margin-2xl:3rem;

    /* gutter */
    --gutter-sm:0.5rem;
    --gutter-md:1rem;
    --gutter-lg:1.5rem;
    --gutter-xl:2rem;
    --gutter-2xl:3rem;


    /* font-sizes */
    --font-size-sm:0.875rem;
    --font-size-md:1rem;
    --font-size-lg:1.125rem;
    --font-size-xl:1.25rem;
    --font-size-2xl:1.5rem;

    /* border-radius*/
    --border-radius-sm:0.2rem;
    --border-radius-md:0.25rem;
    --border-radius-lg:0.3rem;
    --border-radius-xl:0.4rem;
    --border-radius-2xl:0.5rem;




}